@page "/"

<PageTitle>RoutePlanner</PageTitle>
<div class="page-container">
    <div class="navbar">
        <a href="/">
            <img src="logo.png" alt="Logo" class="logo">
        </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <img src="send-package.svg" alt="Send Package Icon" class="nav-icon">
                <a href="/package-information">Send Package</a>
            </li>
            <AuthorizeView>
                <NotAuthorized>
                    <li class="nav-item">
                        <img src="login.png" alt="Login Icon" class="nav-icon">
                        <a href="/login">Login</a>
                    </li>
                </NotAuthorized>
                <Authorized>
                    <span class="m-2">@context.User.Identity?.Name</span>
                </Authorized>
            </AuthorizeView>
        </ul>
    </div>
    <div class="banner">
        <div class="banner-content">
            <h1 class="headline">Route Planner</h1>
            <p class="text-description">Send your mail across Africa with our fast, reliable, and affordable postal service. Trust us to ensure your mail reaches its destination on time, every time. Experience convenience and reliability, join millions of satisfied costumers today!</p>
            <button class="send-package-button"><a href="/package-information" class="button-next">Send package</a></button>
        </div>
        <img src="logo-graphic.png" alt="Banner Image" class="banner-image">
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-img">
                <img src="help.png" alt="Circle Image">
            </div>
            <div class="card-content">
                <h2 class="card-title">Need help ?</h2>
                <p class="card-description">Call our excellent costumer service today and we will help you!</p>
                <p class="card-description">Reach us on 1-888-548-0034</p>

            </div>
        </div>
    </div>
    <footer class="footer">
        <ul class="footer-list">
            <li class="footer-item">
                <img src="book-flight.png" alt="Book Flights Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Book Flights</div>
                </div>
            </li>
            <li class="footer-item">
                <img src="email.png" alt="Email Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Email</div>
                    <div class="footer-description">oceanic@airlines.com</div>
                </div>
            </li>
            <li class="footer-item">
                <img src="phone.png" alt="Phone Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Phone</div>
                    <div class="footer-description">1-888-548-0034</div>
                </div>
            </li>
        </ul>
    </footer>
</div>