@page "/invoice-information"

<div class="page-container">
    <div class="navbar">
        <a href="/">
            <img src="logo.png" alt="Logo" class="logo">
        </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <img src="send-package.svg" alt="Send Package Icon" class="nav-icon">
                <a href="/package-information">Send Package</a>
            </li>
            <li class="nav-item">
                <img src="login.png" alt="Login Icon" class="nav-icon">
                <a href="/login">Login</a>
            </li>
        </ul>
    </div>
    <div class="invoice-container">
        <h1 class="invoice-title">Invoice information</h1>
        <p clas="invoice-description">The invoice and tracking number will be sent to your e-mail.</p>
        <div class="invoice-section">
            <p class="invoice-section-title">Total price</p>
            <div class="text-container">
                <img src="money-bill.png" alt="Money Bill Icon" class="icon">
                <p class="price">X $ Price</p>
            </div>
        </div>
        <form class="form">
            <div class="invoice-section">
                <p class="invoice-section-title">Information</p>
                <label for="full-name" class="sub-label">Full name</label>
                <input id="full-name" type="text" class="input"/>
                <label for="address" class="sub-label">Address</label>
                <input id="address" type="text" class="input"/>
                <label for="email" class="sub-label">Email</label>
                <input id="email" type="text" class="input"/>
            </div>
            <div class="button-container">
                <button type="submit" class="finish-button">Finish</button>
                <button type="" class="previous-button">Previous</button>
            </div>
            <a href="/" class="cancel-link">Cancel</a>
        </form>

    </div>
    <footer class="footer">
        <ul class="footer-list">
            <li class="footer-item">
                <img src="book-flight.png" alt="Book Flights Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Book Flights</div>
                </div>
            </li>
            <li class="footer-item">
                <img src="email.png" alt="Email Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Email</div>
                    <div class="footer-description">oceanic@airlines.com</div>
                </div>
            </li>
            <li class="footer-item">
                <img src="phone.png" alt="Phone Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Phone</div>
                    <div class="footer-description">1-888-548-0034</div>
                </div>
            </li>
        </ul>
    </footer>
</div>