.package-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.package-section {
    display: grid;
    margin-bottom: 20px;
    align-items: center;
}

.package-title {
    font-size: 44px;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #ff3399;
}

.package-description {
    font-weight: lighter;
    font-size: 22px;
    color: #000000;
}

.package-section-title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.25px;
    color: #233D92;
}

.label {
    display: block;
}

.sub-label {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #212121;
}

.dropdown {
    width: 280px;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #233D92;
    border-radius: 8px;
    margin-bottom: 10px;
}

.next-button {
    padding: 12px 16px;
    background-color: #233D92;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #E64395;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    background: #FFFFFF;
    border: 2px solid #233D92;
    border-radius: 8px;
}

