@page "/select-route"

<div class="page-container">
    <div class="navbar">
        <a href="/">
            <img src="logo.png" alt="Logo" class="logo">
        </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <img src="send-package.svg" alt="Send Package Icon" class="nav-icon">
                <a href="/package-information">Send Package</a>
            </li>
            <li class="nav-item">
                <img src="login.png" alt="Login Icon" class="nav-icon">
                <a href="/login">Login</a>
            </li>
        </ul>
    </div>
    <div class="route-container">
        <h1 class="route-title">Select route</h1>
        <p clas="route-description">Lorem</p>
        <div class="route-section">
            <div class="route-header">
              <div class="icon-container">
                <img src="star.png" alt="Star Icon" class="icon">
              </div>
              <p class="route-section-title">Recommended delivery</p>
            </div>

            <div class="route-card-container">
                <div class="route-card">
                    <div class="route-content">
                        <div class="text-container">
                            <p class="destination">Destination to Destination</p>
                        </div>
                        <div class="text-container">
                            <img src="clock.png" alt="Clock Icon" class="icon">
                            <p class="hours">X Hours</p>
                            <img src="money-bill.png" alt="Money Bill Icon" class="icon">
                            <p class="price">X $ Price</p>
                        </div>
                    </div>

                    <div class="button-container">
                        <button class="button">Select</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="route-section">
            <div class="route-header">

                <p class="route-section-title">Fastest delivery</p>
            </div>
            <div class="route-card-container">
                <div class="route-card">
                    <div class="route-content">
                        <div class="text-container">
                            <p class="destination">Destination to Destination</p>
                        </div>
                        <div class="text-container">
                            <img src="clock.png" alt="Clock Icon" class="icon">
                            <p class="hours">X Hours</p>
                            <img src="money-bill.png" alt="Money Bill Icon" class="icon">
                            <p class="price">X $ Price</p>
                        </div>
                    </div>

                    <div class="button-container">
                        <button class="button">Select</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="route-section">
            <div class="route-header">
                <p class="route-section-title">Cheapest delivery</p>
            </div>
            <div class="route-card-container">
                <div class="route-card">
                    <div class="route-content">
                        <div class="text-container">
                            <p class="destination">Destination to Destination</p>
                        </div>
                        <div class="text-container">
                            <img src="clock.png" alt="Clock Icon" class="icon">
                            <p class="hours">X Hours</p>
                            <img src="money-bill.png" alt="Money Bill Icon" class="icon">
                            <p class="price">X $ Price</p>
                        </div>
                    </div>

                    <div class="button-container">
                        <button class="button">Select</button>
                    </div>
                </div>
            </div>
            <div class="button-group">
                <button type="submit" class="previous-button">Previous</button>
            </div>
            <a href="/" class="cancel-link">Cancel</a>
        </div>

    </div>
    <footer class="footer">
        <ul class="footer-list">
            <li class="footer-item">
                <img src="book-flight.png" alt="Book Flights Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Book Flights</div>
                </div>
            </li>
            <li class="footer-item">
                <img src="email.png" alt="Email Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Email</div>
                    <div class="footer-description">oceanic@airlines.com</div>
                </div>
            </li>
            <li class="footer-item">
                <img src="phone.png" alt="Phone Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Phone</div>
                    <div class="footer-description">1-888-548-0034</div>
                </div>
            </li>
        </ul>
    </footer>
</div>