@page "/sender-and-receiver"

<div class="page-container">
    <div class="navbar">
        <a href="/">
            <img src="logo.png" alt="Logo" class="logo">
        </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <img src="send-package.svg" alt="Send Package Icon" class="nav-icon">
                <a href="/package-information">Send Package</a>
            </li>
            <AuthorizeView>
                <NotAuthorized>
                    <li class="nav-item">
                        <img src="login.png" alt="Login Icon" class="nav-icon">
                        <a href="/login">Login</a>
                    </li>
                </NotAuthorized>
                <Authorized>
                    <span class="m-2">@context.User.Identity?.Name</span>
                </Authorized>
            </AuthorizeView>
        </ul>
    </div>
    <div class="sender-container">
        <h1 class="sender-title">Sender and receiver</h1>
        <p clas="sender-description">Please tell us the name of the sender and the receiver.</p>
        <form class="form">
            <div class="sender-section">
                <p class="sender-section-title">Sender</p>
                <label for="sender" class="sub-label">Full name</label>
                <input id="sender" type="text" class="input"/>
            </div>
            <div class="sender-section">
                <p class="sender-section-title">Receiver</p>
                <label for="receiver" class="sub-label">Full name</label>
                <input id="receiver" type="text" class="input"/>
            </div>
            <div class="button-container">
                <button class="next-button"><a href="/select-route" class="button-next">Next</a></button>
                <button type="" class="previous-button"><a href="/package-information" class="button-previous">Previous</a></button>
            </div>
            <a href="/" class="cancel-link">Cancel</a>
        </form>

    </div>
    <footer class="footer">
        <ul class="footer-list">
            <li class="footer-item">
                <img src="book-flight.png" alt="Book Flights Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Book Flights</div>
                </div>
            </li>
            <li class="footer-item">
                <img src="email.png" alt="Email Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Email</div>
                    <div class="footer-description">oceanic@airlines.com</div>
                </div>
            </li>
            <li class="footer-item">
                <img src="phone.png" alt="Phone Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Phone</div>
                    <div class="footer-description">1-888-548-0034</div>
                </div>
            </li>
        </ul>
    </footer>
</div>