@page "/thank-you"

<div class="page-container">
    <div class="navbar">
        <a href="/">
            <img src="logo.png" alt="Logo" class="logo">
        </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <img src="send-package.svg" alt="Send Package Icon" class="nav-icon">
                <a href="/package-information">Send Package</a>
            </li>
            <li class="nav-item">
                <img src="login.png" alt="Login Icon" class="nav-icon">
                <a href="/login">Login</a>
            </li>
        </ul>
    </div>
    <div class="summary-container">
        <h1 class="summary-title">Thank you!</h1>
        <p class="summary-description">Write your tracking number on the package and deliver it to your selected drop-off destination.</p>
        <p class="tracking-title">Your tracking number is</p>
        <p class="tracking-number">XXXXXX</p>
        <div class="button-container">
            <button class="back-home"><a href="/" >Go to homepage</a></button>
        </div>
    </div>
    <footer class="footer">
        <ul class="footer-list">
            <li class="footer-item">
                <img src="book-flight.png" alt="Book Flights Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Book Flights</div>
                </div>
            </li>
            <li class="footer-item">
                <img src="email.png" alt="Email Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Email</div>
                    <div class="footer-description">oceanic@airlines.com</div>
                </div>
            </li>
            <li class="footer-item">
                <img src="phone.png" alt="Phone Icon" class="footer-icon">
                <div class="footer-content">
                    <div class="footer-title">Phone</div>
                    <div class="footer-description">1-888-548-0034</div>
                </div>
            </li>
        </ul>
    </footer>
</div>